body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f0eeee;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

header {
	text-align: center;
	background-color: black;
	border: solid;
	border-right-style: none;
	border-left-style: none;
}

/* Nav Starts Here */

.navbar-default {
	border-color: transparent;
	background-color: transparent;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar-toggle {
	float: none;
}

.navbar-header {
	text-align: center;
}

.navbar .navbar-collapse {
	text-align: center;
}

ul {
	font-size: 23px;
	font-weight: bold;
	font-family: 'Saira', sans-serif;
}

/* Adds color to the nav when hovering over. */

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #B70123;
	color: white;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a {
	color: black;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a:hover {
	color: red;
}

/* Nav Ends Here */



img {
	width: 60%;
	margin: auto;
}

h1 {
	font-size: 90px;
	color: white;
	text-align: center;
	font-weight: lighter;
	font-family: 'Rajdhani', sans-serif;
}

h2 {
	color: black;
	text-align: center;
	font-size: ;
	font-weight: bold;
	font-family: 'Rajdhani', sans-serif;
}

img {
	width: 50%;
	margin: auto;
}

h3 {
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: 'Rajdhani', sans-serif;
}

.text {
	margin-top: 25px;
}

p {
    text-align: center;
	width: auto;
	color: black;
	padding-bottom: 10px;
}



.link{

    font-weight: bold;
    text-decoration: none;
    text-align: center;
    
}	




.footer {
	text-align: center;
	background-color: black;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.text-muted {
	color: azure;
	text-align: center;
	padding-top: 40px;
}


/* Responsive Text*/
@media screen and (max-width: 768px) {
	h1 {
		font-size: 45px;
	}
	
    .item img {
		width: 400%;
	}
	
	p {
        text-align: center;
    }



    .carousel-caption{
        background: rgba(0, 0, 0, 0.35);
        border-radius: 4px;

    }


    .carousel-header {
        color: white;
        font-size: 20px;
    }





    .carousel-text {
        color: white;
        font-size: 15px;
    }






}






/*Carousel*/
.item img {
  width: 60%;
  height: auto;
}





a.carousel-control{

background: none;
color: red;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}





.carousel-indicators li{
    background-color: red;
    width: 15px;
    height: 5px !important;
    border-radius: 3px !important;
}






.carousel-caption{
    background: rgba(0, 0, 0, 0.35);
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 4px;
}


.carousel-header, .carousel-text {
	color: white;
}