/*=============================================
GLOBAL STYLES
=============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    padding-top: 2em;
    background-color: #fbfbfb;
    color: #555;
    font-weight: 30;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* overflow-x hides text-box sticking out of header */
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h3 {
    font-size: 1.7em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*=============================================
NAV
=============================================*/

#mainNav {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-brand {
    font-size: 22px;
    letter-spacing: 2px;
}

.nav-link {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*=============================================
HEADER
=============================================*/

header {
    background-image: url(../img/wildspire-waste.jpeg), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    height: 100vh;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.text-box {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-box h1 {
    padding-top: 1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-size: 350%;
    color: #fff;
}

.text-box h2 {
    margin-bottom: 2em;
    text-align: center;
    font-size: 160%;
    font-weight: 300;
    color: #fff;
    padding-top: 1em;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.header-btn {
    margin: 0 auto;
    font-size: 80%;
    text-transform: uppercase;
    text-align: center;
    border: 1px #fff solid;
    border-radius: 200px;
    display: inline-block;
    color: #fff;
    width: auto;
    height: auto;
    padding: 1em 3em;
    font-weight: 100;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.header-btn:hover {
    background-color: #000;
    border-color: #22B7C8;
    color: #22B7C8;
    text-decoration: none;
}

/*=============================================
ASSIGNMENT SECTION
=============================================*/

.assignments {
    padding-top: 80px;
    margin-top: 80px;
    margin-bottom: 40px; 
    margin-left: 80px; 
    margin-right: 80px; 
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 50px #d3d3d3;
    transition: box-shadow 0.5s;
}

.assignments:hover {
    box-shadow: 0 2px 50px #838383;
}

.row div {
    padding: 1.5em;
}

.first-row,
.second-row,
.third-row {
    padding-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.assignments h4 {
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2em;
    font-weight: bold;
}

.assignments h4:after {
    display: block;
    height: 2px;
    background-color: rgba(168, 168, 168, 0.65);
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
}

.assignment-img {
    margin: 0 auto;
	width: 75%;
    transition: all .3s;
}

.assignment-img:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

/*=============================================
ABOUT SECTION
=============================================*/
.about {
    background-image: url(../img/everstream.jpeg), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 100px;
}

.about h3 {
    padding-top: 100px;
    padding-bottom: 40px;
    color: #fff;

}
.about h3:after {
    display: block;
    height: 2px;
    background-color: rgba(34, 183, 200, 0.45);
    content: " ";
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
}

.about-img {
    width: 80%;
    border-radius: 50%;
}

.about-text { color: #fff; }

.link {
    color: #9af5ff;
    transition: color .2s;
}

.link:hover {
    color: #22B7C8;
    text-decoration: none;
}

/*=============================================
BACK TO TOP BTN
=============================================*/

.bottom-btn {
    margin: 0 auto;
    margin-bottom: 2em;
    font-size: 80%;
    text-transform: uppercase;
    border: 1px #fff solid;
    border-radius: 200px;
    display: inline-block;
    color: #000;
    border-color: #000;
    width: auto;
    height: auto;
    padding: 1em 3em;
    font-weight: 100;
    box-shadow: 0 2px 50px #d3d3d3;
    transition: all 0.5s;
}

.bottom-btn:hover {
    color: #22B7C8;
    border-color: #22B7C8;
    background-color: #000;
    text-decoration: none;
    box-shadow: 0 2px 50px #838383;
}

/*=============================================
FOOTER
=============================================*/

footer {
    background-color: #000;
    padding: 20px;
    font-size: 80%;
}

footer p {
    margin: 0 auto;
    margin-top: 5px;
    color: #fff;
}