body {
	margin: 0;
	padding: 0;
    width: 100%;
	height: 100%;
	background-color: #fff;
}

.container {
	width: 100%;
	margin: 0 auto;
}

/* 
=============================================
Navigation
=============================================
*/

.navbar-default {
	border-color: transparent;
	background-color: transparent;
}

.navbar .navbar-nav {
	display: inline-block;
	float: right;
}

.navbar-brand{
    
    font-weight: 400;
    transition: 1s;
    font-size: 30px;
}

#nav-name{

    color: black;

}

.navbar-toggle {
	float: right;
}

.navbar-header {
	text-align: center;
}

.navbar .navbar-collapse {
	text-align: center;
}


ul {
    
	font-size: 20px;
	font-weight: bold;
	font-family: 'Saira', sans-serif;
    
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #B70123;
	color: white;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a {
	color: black;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a:hover {
	color: red;
    text-decoration: none;
}



/* 
=============================================
Headers
=============================================
*/



h1 {
	font-size: 130px;
	color: white;
	text-align: center;
	font-weight: lighter;
	font-family: 'Rajdhani', sans-serif;
}


.text {
    width:80%;
	display: block;
    margin: 0 auto;
	margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}


p{

    color: black;
    font-size: 20px;
    padding-bottom: 10px;

}

/* 
=============================================
Links
=============================================
*/


.link {

    font-size: 23px;
    text-align: center;
    text-decoration: none;
    color: black;

}
/* 
=============================================
Footer
=============================================
*/

.footer {
	text-align: center;
	background-color: black;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
    position: relative;
}

.text-muted {
	color: azure;
    font-size: 15px;
	text-align: center;
	padding-top: 40px;
}

/* 
=============================================
Header Image
=============================================
*/

.header {
  height: 560px;
  display: flex;
  align-items: center;
  background: url('../img/temp.jpg') ,rgba(0,0,0, .5);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}


/* 
=============================================
Responsive
=============================================
*/
@media screen and (max-width: 768px) {
	h1 {
		font-size: 35px;
	}
	
    .item img {
		width: 400%;
	}
	
	p {
        text-align: center;
    }

}
