.about {

    &__img {
        width: 100%;
        border-radius: 50rem;
        box-shadow: 0 1px 8px $primary-color-light;

        @include respond(tablet-portrait) {
            margin-left: 25%;
            width: 50%;
        }

        @include respond(phone) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__text {
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 2rem;

        &--link {
            color: #9af5ff;
            text-decoration: none;
            transition: color .3s;

            &:hover {
                color: #22B7C8;
            }
        }
    }
}