.footer {
    background-color: #000;
    padding: 2rem;
    color: $color-white;
    text-align: center;

    &__social {
        font-size: 3rem;
        color: $color-white;
        padding: 1rem;
    }

    &__media {
        display: inline-block;
    }

    &__link {
        padding: .5rem;
    }

    &__icon {
        color: $primary-color;
        background: $color-black;
        border-radius: 5rem;
        padding: 1rem;
        transition: all .3s;
        backface-visibility: hidden;

        &:hover {
            color: $color-black;
            background: $primary-color;
            border-radius: 5rem;
            padding: 1rem;
            transform: scale(1.1) rotate(360deg);
        }
    }

    &__text {
        font-size: 1.5rem;

        &-link {
            color: $primary-color-light;
            text-decoration: none;
            transition: all .3s;
            
            &:hover {
                color: $primary-color-dark;
            }
        }
    }
}