body {
	margin: 0;
	padding: 0;
	height: 100%;
    background-color: #f0eeee;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}


/* Fonts */

@font-face {
	font-family: "Code Bold";
	src: url("fonts/CODEBold.otf");
	src: url("fonts/CODEBold.otf") format("otf");
}

@font-face {
	font-family: "Code Light";
	src: url("fonts/CODEBold.otf");
	src: url("fonts/CODEBold.otf") format("otf");
}

header {
	text-align: center;
	background-color: black;
	border: solid;
	border-right-style: none;
	border-left-style: none;
}



/* Nav Starts Here */


/* Makes the background of the Navbar Transparent*/

.navbar-default {
	border-color: transparent;
	background-color: transparent;
}

.navbar .navbar-nav {
    display: inline-block;
	float: none;
	
}


.navbar-toggle {
    float:none;

}   
.navbar-header
{
    text-align:center;
}

.navbar .navbar-collapse {
	text-align: center;
}

ul {
	font-size: 20px;
	font-family: "Code Bold";
}

li {}


}
.active {

}

/* Adds color to the nav when hovering over. */
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #D7CEC7;
	color: black;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}
a {
	color: white;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}
a:hover {
	color: red;
}

/* Nav Ends Here */





#sketch-holder{
    background color: #D7CEC7;
    text-align: center;
    padding-bottom: 20px;
}





h1 {
	font-size: 60px;
	color: white;
	text-align: center;
	font-size: ;
	font-family: "Code Light";
}
	
	h2 {
		color: black;
		text-align: center;
		font-size: ;
		font-family: "Code Light";
	}




h3{
    text-align: center;
    color: black;
}


	
.text {
    margin-top: 25px;
}
	
p {
    width: auto;
    color: black;
    vertical-align: middle;
    padding-bottom: 25px;
}




/* Responsive Text*/
	
@media screen and (max-width: 768px) {
    h1 {
        font-size: 22px;
}
    img-responsive {
        width: 30%;
}
    p {

}      
}
	

.footer {
    text-align: center;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}
	
.text-muted {
    text-align: center;
    padding-top: 40px;
}