#home {
    background-color: #333;
    font-family: sans-serif;
}
#wrapper{
	width: 1000px;
	margin: 0 auto;

}



body{
    /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}


header{
    background-image: url("img/flowers_of_evil.jpg");
	width: auto;
	height: 340px;
	margin-bottom: ;
    background-position: center;
}

ul{
    
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    background-color: #333;
}
.link {
    font-size: 2em;
    padding: 0.25em 0;
    margin-right: 0.5em;
    display: inline;
}
a{
    color: azure;
}
a:hover{
    color: red;
    transition: color 0.1s ease-in-out;
	transition: all 0.5s;
	background: white;
	
}
}
li{
   


}
#home a{
    text-decoration: none;

    padding-left: 10px;
    padding-right: 10px;
}

h1, p{
    color: black;
}
#navdiv, ul{
	width: 97.8%;
	height: 50px;
	background: ;
	line-height: 50px;
	font-size: 10px;
    border-style: solid;
    border-width: thin;
    text-align: center
}

/* CSS Above is for the background and design for the nav bar. */

.text{
    border-style: solid;
    border-width: thin;
    background-color: azure;
    
}

p{
    color: black;
    padding: 10px;
    text-align: left;

}
