body {
	margin: 0;
	padding: 0;
	height: 100%;
    background-color: #f0eeee;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}


/* Fonts */

@font-face {
	font-family: "Code Bold";
	src: url("fonts/CODEBold.otf");
	src: url("fonts/CODEBold.otf") format("otf");
}

@font-face {
	font-family: "Code Light";
	src: url("fonts/CODEBold.otf");
	src: url("fonts/CODEBold.otf") format("otf");
}

/* Header */
header {
	text-align: center;
	background-color: black;
	border: solid;
	border-right-style: none;
	border-left-style: none;
}


/* Nav Starts Here */

.navbar-default {
	border-color: transparent;
	background-color: transparent;
}

.navbar .navbar-nav {
    display: inline-block;
	float: none;
}


.navbar-toggle {
    float:none;
}   
.navbar-header{
    text-align:center;
}

.navbar .navbar-collapse {
	text-align: center;
}

ul {
	font-size: 20px;
	font-family: "Code Bold";
}

li {}

}
.active {

}

/* Adds color to the nav when hovering over. */
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #B70123;
	color: white;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}
a {
	color: black;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}



/* Sketch Holder */


#sketch-holder{
    background color: #D7CEC7;
    text-align: center;
}





h1 {
	font-size: 60px;
	color: white;
	text-align: center;
	font-size: ;
	font-family: "Code Light";
}
	
h2 {
    color: black;
    text-align: center;
    font-size: ;
    font-family: "Code Light";
}

	
.text {
        
    margin-top: 25px;
}
	
p {
    width: auto;
    color: black;
    vertical-align: middle;
    padding-bottom: 25px;
}



/* Link Back to Assignments */

a:hover {
    text-decoration: none;

	color: #B70123;
    
}

.return{
    font-size: 25px;
    font-family: "Code Bold";
    text-decoration: none;
    text-align: center;
    
}	



/* Footer */

.footer{
    text-align: center;
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}
	
.text-muted{
    color: azure;
    text-align: center;
    padding-top: 40px;
}






/* Responsive Text*/
	
@media screen and (max-width: 768px) {

h1 {
    font-size: 35px;
}

h2{
    font-size: 28px;
}

p{

}


        
}/* Responsive ends here */
