// For Assignment Pages
.active-nav {color: $primary-color !important;}

// Centers Text
.center-text { text-align: center; }

// Margins
.margin-btn { margin: 5rem 0 3rem;}

.margin-bottom-small { margin-bottom: 1.5rem; }
.margin-bottom-medium { margin-bottom: 6rem; }
.margin-bottom-big { margin-bottom: 8rem; }

.margin-top-small { margin-top: 1.5rem; }
.margin-top-medium { margin-top: 4rem; }
.margin-top-big { margin-top: 8rem; }

// Text Color
.white-text {color: $color-white !important;}
.black-text {color: $color-black !important;}










