body {
	margin: 0;
	padding: 0;
    width: 100%;
	height: 100%;
	background-color: #fff;
}

.container {
	width: 100%;
	margin: 0 auto;
}

/* 
=============================================
Navigation
=============================================
*/

.navbar-default {
	border-color: transparent;
	background-color: transparent;
}

.navbar .navbar-nav {
	display: inline-block;
	float: right;
}

.navbar-brand{
    
    font-weight: 400;
    transition: 1s;
    font-size: 30px;
}

#nav-name{

    color: black;

}

.navbar-toggle {
	float: right;
}

.navbar-header {
	text-align: center;
}

.navbar .navbar-collapse {
	text-align: center;
}


ul {
    
	font-size: 20px;
	font-weight: bold;
	font-family: 'Saira', sans-serif;
    
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #B70123;
	color: white;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a {
	color: black;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a:hover {
	color: red;
    text-decoration: none;
}


/* 
=============================================
Header Image
=============================================
*/

.header {
  height: 200px;
  display: flex;
  align-items: center;
  background: url('../../img/temp.jpg') ,rgba(0,0,0, .5);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}


/* 
=============================================
Headers & Text
=============================================
*/
h1 {
	font-size: 90px;
	color: white;
	text-align: center;
    font-weight: lighter;
	font-family: 'Rajdhani', sans-serif;
}


.text {
	margin-top: 25px;
}

p {
	width: auto;
	color: black;
	vertical-align: middle;
	padding-bottom: 20px;
}

/* 
=============================================
Image
=============================================
*/

img {
	display: block;
    margin: 0 auto;
    margin-bottom: 2em;
	width: 40%;
    border: 1px solid #333;
    box-shadow:0 0 10px rgba(0,0,0,0.6);
}

/* 
=============================================
Footer
=============================================
*/

.footer {
	text-align: center;
	background-color: black;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.text-muted {
    color: azure;
	text-align: center;
	padding-top: 40px;
}


/* 
=============================================
Responsive
=============================================
*/

@media screen and (max-width: 768px) {
	h1 {
		font-size: 45px;
	}
	
	p {
    
    }
	
	img {
        width: 95%;
    }
}

