body {
    background-image: url("../img/w3-swamp.jpg"), 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
        linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1{
	color: white;
	text-align: center;
    font-family: 'Sintony', sans-serif;
}	
	
p {
    text-align: center;
    width: auto;
    color: white;
    font-family: 'Sintony', sans-serif;
}

button {
    font-family: 'Sintony', sans-serif;
    background-color: white;
    font-size: 1em;
    padding: 15px;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;

    transition: transform 0.5s;
}

button:hover {
    color: blue;

    transform: scale(1.1);

}