/*=============================================
Global Styles
=============================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Dosis', sans-serif;
    padding-top: 2em;
    background-color: #fff;
    color: #555;
    font-weight: 30;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/*=============================================
Navbar
=============================================*/

#mainNav {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-brand {
    font-size: 22px;
    letter-spacing: 2px;
}

.nav-link {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*=============================================
Header
=============================================*/

header {
    background-image: url(../img/everstream.jpeg), linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 1) 100%);;
    height: 100vh;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header h1 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 350%;
    color: #fff;
}

header h2 {
    padding-bottom: 0.5em;

}

.icons {
    text-align: center;
}

#code-icon,
#js-icon {

    font-size: 350%;
}

#code-icon {
    color: orangered;
}

#js-icon {
    color: yellow;
}

header a {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.assignment-button {
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #000;
    border-color: #fff;
    color: #fff;
    padding: 0.8em 2em;
    margin-top: 1em;
    transition: color 0.3s;
}

.assignment-button:hover {
    color: #22B7C8;

}

/*=============================================
Assignments Section
=============================================*/

.assignments {
    margin-top: 50px;
}

.row div {
    padding: 1.5em;
}

.assignments h3 {
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 2em;
    font-weight: bold;
}

.assignments h3:after {
    display: block;
    height: 2px;
    background-color: rgba(168, 168, 168, 0.65);
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
}

img {
    margin: 0 auto;
	width: 75%;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
    padding-top: 2em;
    margin-bottom: 5em;
    text-align: center;
}

.assignment-container {
    padding-top: 2em;
}

.center{
    float: none;
    margin: 0 auto;
    padding-bottom: 2em;
}

/*=============================================
Footer
=============================================*/

footer {
    background-color: #000;
    padding: 30px;
    font-size: 80%;
}

h3 {
    margin: 0 auto;
}

#back-top {
    color: #fff;
    font-size: 80%;
    text-decoration: none;
    transition: color 0.4s;
}

#back-top:hover {
    color: #22B7C8;
}

footer p {
    margin: 0 auto;
    margin-top: 15px;
    color: #fff;
}
