body {
	margin: 0;
	padding: 0;
    width: 100%;
	height: 100%;
	background-color: #fff;
}


.container-fluid {
	width: 100%;
	margin: 0 auto;
}


/* 
=============================================
Navigation
=============================================
*/

.navbar-default {
	border-color: transparent;
	background-color: transparent;
}

.navbar .navbar-nav {
	display: inline-block;
	float: right;
}

.navbar-brand{
    
    font-weight: 400;
    transition: 1s;
    font-size: 30px;
}

#nav-name{

    color: black;

}

.navbar-toggle {
	float: right;
}

.navbar-header {
	text-align: center;
}

.navbar .navbar-collapse {
	text-align: center;
}


ul {
    
	font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #B70123;
	color: white;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a {
	color: black;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}

a:hover {
	color: red;
    text-decoration: none;
}

/* 
=============================================
Header Image
=============================================
*/

.header {
  height: 300px;
  display: flex;
  align-items: center;
  background: url('../../img/temp.jpg') ,rgba(0,0,0, .5);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}


/**/

h1 {
	font-size: 90px;
	color: white;
	text-align: center;
    font-weight: lighter;
	font-family: 'Rajdhani', sans-serif;
}
h2 {
	color: black;
	text-align: center;
	font-size: ;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    padding-bottom: 20px;
}
p {
	width: auto;
	color: black;
	vertical-align: middle;
	padding-bottom: 25px;
}



/* 
=============================================
Assignment Container
=============================================
*/
img {
	width: 100%;
}

#assignments {

    margin: auto;
    width: 80%;
/*    border: 3px solid red;*/

}

.assignment-container {

    padding-top: 2em;

}

.assignment-hover {
	margin-bottom: 2em;
}

.assignment-hover a {
	text-decoration: none;
	color: azure;
	position: relative;

}

.caption {
	transition: .5s;
}

.assignment-hover a .caption {
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	font-size: 23px;
	display: block;
	font-weight: bold;
	font-family: 'Saira', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	width: 100%;
    background-color: #B70123;
    padding-bottom: 10px;
    padding-top: 10px;
}

.assignment-hover a .caption b {
    font-family: 'Saira', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	text-transform: none;
}

.assignment-hover a:hover .caption {
	opacity: 10;
}

.assignment-hover a img {
	transition: .5s;
}

.assignment-hover a:hover img {
    
	opacity: .3;
	
}

/* 
=============================================
Centers Final Assignment
=============================================
*/


.center{
    float: none;
    margin: 0 auto;
}


.back-top{

    font-weight: bold;
    text-decoration: none;
    text-align: center;

    
}	

/* 
=============================================
Footer
=============================================
*/


.footer {
	text-align: center;
	background-color: black;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.text-muted {
    color: azure;
	text-align: center;
	padding-top: 40px;
}



/* Responsive Text*/
@media screen and (max-width: 768px) {
	h1 {
		font-size: 45px;
	}
	
	p {
    }


#assignments {

    margin: auto;
    width: 80%;
/*    border: 3px solid green;*/

}

}