body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f0eeee;
}

.container{

}


/* Fonts */

@font-face {
	font-family: "Code Bold";
	src: url("fonts/CODEBold.otf");
	src: url("fonts/CODEBold.otf") format("otf");
}

@font-face {
	font-family: "Code Light";
	src: url("fonts/CODEBold.otf");
	src: url("fonts/CODEBold.otf") format("otf");
}


header{
    text-align: center;
    background-color: black;
    border: solid;
    border-right-style:none;
    border-left-style:none;
}

/* Nav Starts Here */

.navbar-default {
	border-color: transparent;
	background-color: transparent;
}

.navbar .navbar-nav {
    display: inline-block;
	float: none;
	
}


.navbar-toggle {
    float:none;

}   
.navbar-header
{
    text-align:center;
}

.navbar .navbar-collapse {
	text-align: center;
}

ul {
	font-size: 20px;
	font-family: "Code Bold";
}

li {}


}
.active {

}

/* Adds color to the nav when hovering over. */
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background-color: #B70123;
	color: white;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}
a {
	color: black;
	transition: color 0.1s ease-in-out;
	transition: all 0.5s;
}
a:hover {
	color: red;
}

/* Nav Ends Here */

h1 {
	font-size: 60px;
	color: white;
	text-align: center;
	font-size: ;
	font-family: "Code Light";
}
h2 {
	color: black;
	text-align: center;
	font-size: ;
	font-family: "Code Light";
	padding-bottom: 25px;
}
p {
	width: auto;
	color: black;
	vertical-align: middle;
	padding-bottom: 25px;
}




/* Assignment Hover Box */
img {
	width: 100%;
	
}

.assignment-container {
}

.assignment-hover {
	margin-bottom: 2em;
}

.assignment-hover a {
	text-decoration: none;
	color: azure;
	position: relative;

}

.caption {
	transition: .5s;
}

.assignment-hover a .caption {
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	font-size: 1.6em;
	display: block;
	font-weight: bold;
	font-family: "Code Light" ;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	width: 100%;

    background-color: #B70123;
    padding-bottom: 10px;
    padding-top: 10px;
}

.assignment-hover a .caption b {
    font-family: "Code Bold";
	font-size: 0.75em;
	font-weight: lighter;
	text-align: center;
	text-transform: none;
}

.assignment-hover a:hover .caption {
	opacity: 10;
}

.assignment-hover a img {
	transition: .5s;
}

.assignment-hover a:hover img {
    
	opacity: .3;
	
}




/* Footer */

.footer {
	text-align: center;
	background-color: black;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
}

.text-muted {
    color: azure;
	text-align: center;
	padding-top: 40px;
}



/* Responsive Text*/
@media screen and (max-width: 768px) {
	h1 {
		font-size: 22px;
	}
	
	p {
}
}

